// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


// SINGLE TABLE component in tables#INDEX
.single-table {
  height: 40vh;
  border: 1px solid darkgray;
  box-shadow: 0 2px 4px #fafafa;
}

.table-show-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1%;

  background: #FAFAFA;
  height: 90vh;

  .orders-wrapper {
    border: 7px solid lightgray;
    padding: 20px;
    border-radius: 4px;

    .order-container {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 5vh;
      margin-bottom: 1vh;

      background-color: #fafafa;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
    }

  } // .orders-wrapper

  .dishes-grid {
      display: grid;
      height: 100%;
      grid-template-columns: repeat(2, 1fr);
      gap: 1px;

    .dish-container {
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: #fafafa;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0,0,0,.1);
    }

  } // .dish-container

} // .table-show-container
